*{
    padding: 0;
    margin: 0;
}
.container{
    height:100vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-x: none;
}
.head{
    height: 80px;
    width: 1200px;
    background-color: blue;
    color: white; 
    text-align: center;
}
.body{
    height: 400px;
    width: 95%;
    /* background-color: green ; */
    display: flex;
    flex-direction: column;
    
    /* color: blue; */
}
label{
 font-weight: bold;
}
.bottom{
    height: 170px;
    width: 200px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
button{
    background-color: blue;
    color: white;
}
#pro{
    width: 700px;
   border: none;
}
.pro{
    height: 40px;
    margin-top: 80px;
}
.proin{
    border: 1px solid black;
    background-color: white;
  
}
#skills{
    width: 600px;
    height: 25px;
    background-color: rgb(203, 211, 218);
    border: none;
   
}
h3{
    text-align: center;
    color: blue;
}
.proin p{
    padding-bottom: 20px;
}
.skills{
    margin-top: 80px;
}
.body label{
    color: blue;
    
}